@media screen and (min-width:1800px) {
    /* HEADER */
    .Header {
        font-size: 18px;
        width: 100%;
        height: 200px;
    }
    .row__header {
        line-height: 200px;
        padding-left: 160px;
        padding-right: 160px;
        width: 100%;
        height: 200px;
    }
    .grid__header {
        width: 100%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .menu__header ul li {
        padding-right: 60px;
    }
    .menu__header ul li img {
        width: 18px;
        display: inline;
    }
    .menu__header ul li a {
        width: max-content;
        font-size: 18px;
    }
    .logo__header img {
        width: 205px;
    }
    .signin__header div {
        margin-left: 40px;
    }
    .signin__header a {
        width: max-content;
        font-size: 18px;
    }
    .booknow-button,
    .booknow-button--large {
        display: block;
        position: relative;
        overflow: hidden;
        color: #2c312b;
        font-size: 16px;
        cursor: pointer;
        transition: color .2s ease, background-color .2s ease;
        width: 160px;
        height: 45px;
        background: none;
        cursor: pointer;
        border: none;
        border: 1px solid #000;
    }
    .booknow-button--large:hover:after,
    .booknow-button:hover:after {
        transform: translateY(0);
    }
    .booknow-button:hover,
    .booknow-button--large:hover {
        line-height: 45px;
        color: #fff;
    }
    .booknow-button--large:after,
    .booknow-button:after {
        content: "BOOK NOW";
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        height: 45px;
        background-color: #422D22;
        transform: translateY(100%);
        transition: transform .25s ease .15s;
    }
    /* DIALOG MENU */
    .left__modal .menu ul.menu__1 li {
        text-align: left;
        list-style: none;
        margin-bottom: 40px;
    }
    .left__modal .menu__1 a {
        font-family: Casual;
        font-size: 36px;
    }
    .left__modal .menu__1 a:hover {
        margin-left: 10px;
    }
    .left__modal .menu ul.menu__2 li {
        text-align: left;
        list-style: none;
        margin-bottom: 16px;
    }
    .left__modal .menu__2 {
        padding-top: 55px
    }
    .left__modal .menu__2 a {
        font-size: 18px;
    }
    .right__modal {
        position: relative;
        margin-left: 100px;
        display: flex;
        margin-right: 100px;
        justify-content: space-around;
        align-items: flex-end;
        margin-bottom: 80px;
    }
    .right__modal p {
        color: #fff;
        font-size: 18px;
    }
    .item__contact__menu__mp {
        margin-right: 100px;
    }
    .item__contact__menu__mp div {
        display: flex;
        margin-top: 20px;
    }
    .item__contact__menu__mp div img {
        margin-right: 20px;
    }
    .item__contact__menu {
        display: flex;
        align-items: center;
    }
    /* BACKGROUND SPA */
    .Background__spa {
        width: 100%;
        height: 560px;
        background-image: url(../image/Background_Spa.svg);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .Background__spa h1 {
        font-size: 96px;
        color: #fff;
        font-family: Casual;
        text-align: center;
        line-height: 560px;
    }
    /* BACKGROUND SPA__2 */
    .Background__spa__2 {
        width: 100%;
        height: 560px;
        background-image: url(../image/BackGround_Our.svg);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .Background__spa__2 p {
        font-size: 96px;
        color: #fff;
        font-family: Casual;
        text-align: center;
        padding-top: 130px;
    }
    .Background__spa__2 div {
        display: flex;
        justify-content: center;
        padding-top: 70px;
    }
    .Background__spa__2 .booknow-button__scorll,
    .Background__spa__2 .booknow-button--large__scorll {
        display: block;
        position: relative;
        overflow: hidden;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        transition: color .2s ease, background-color .2s ease;
        width: 125px;
        height: 40px;
        background: none;
        cursor: pointer;
        border: none;
        border: 1px solid #fff;
    }
    .Background__spa__2 .booknow-button--large__scorll:hover:after,
    .Background__spa__2 .booknow-button__scorll:hover:after {
        transform: translateY(0);
    }
    .Background__spa__2 .booknow-button__scorll:hover,
    .Background__spa__2 .booknow-button--large__scorll:hover {
        line-height: 40px;
        color: #fff;
    }
    .Background__spa__2 .booknow-button--large__scorll:after,
    .Background__spa__2 .booknow-button__scorll:after {
        content: "BOOK NOW";
        position: absolute;
        top: 0;
        left: 0;
        width: 125px;
        height: 40px;
        background-color: #422D22;
        transform: translateY(100%);
        transition: transform .25s ease .15s;
    }
    /* ----------- */
    .Fitness_Center {
        width: 100%;
        margin: auto;
        margin-top: 180px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .title__Fitness_Center {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }
    .title__Fitness_Center h1 {
        font-size: 48px;
        font-family: 'Casual';
        width: max-content;
        padding-bottom: 10px;
        border-bottom: 2px solid #422D22;
        color: #422D22;
    }
    .content__Fitness_Center {
        width: 43%;
        margin: auto;
        margin-bottom: 30px;
    }
    .content__Fitness_Center h2 {
        text-align: center;
        font-size: 16px;
        font-family: 'Poppins';
        line-height: 30px;
    }
    .bottom__Fitness_Center {
        display: flex;
        justify-content: center;
    }
    .bottom__Fitness_Center div {
        display: flex;
        margin: 0 20px;
    }
    .bottom__Fitness_Center div h1 {
        font-size: 16px;
        font-weight: 600;
        margin-right: 10px;
        color: #282828;
    }
    .bottom__Fitness_Center div h2 {
        font-size: 16px;
    }
    /* SLIDE BACKGROUND */
    .slider {
        width: 90%;
        margin: 70px auto;
    }
    .slick-slide {
        margin: 0px 20px;
    }
    .slick-slide img {
        width: 100%;
    }
    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
    .slick-slide {
        transition: all ease-in-out .3s;
        opacity: .2;
    }
    .slick-active {
        opacity: .5;
    }
    .slick-current {
        opacity: 1;
    }
    /* EQUIPMENTS */
    .OurBestSeller {
        padding-top: 50px;
        width: 90%;
        margin: auto;
    }
    .title__OurBestSeller {
        display: flex;
        justify-content: center;
        margin-bottom: 85px;
    }
    .title__OurBestSeller h1 {
        font-size: 48px;
        font-family: 'Casual';
        width: max-content;
        padding-bottom: 10px;
        border-bottom: 2px solid #422D22;
        color: #422D22;
    }
    .main__OurBestSeller {
        width: 1000px;
        max-width: 80%;
        margin: auto;
        margin-bottom: 100px;
    }
    .content__OurBestSeller {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .item__OurBestSeller {
        width: 223px;
        height: 219px;
        background-color: #fff;
    }
    .item__OurBestSeller img {
        width: 223px;
        height: 133px;
    }
    .item__OurBestSeller div {
        margin-left: 20px;
    }
    .item__OurBestSeller div h1 {
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .item__OurBestSeller div h2 {
        font-size: 14px;
        font-weight: 600;
    }
    /* EXPLORE VITAS */
    .ExploreVitas {
        margin: auto;
        width: 100%;
        margin-top: 150px;
        overflow: hidden;
    }
    .row__exploreVitas {
        width: 100%;
        margin-left: 160px;
    }
    .menu__explore__hidden {
        font-size: 20px;
    }
    .menu__explore__focus {
        font-size: 24px;
    }
    .listVitas__item {
        height: 610px;
        width: 465px;
        margin-right: 40px;
    }
    .listVitas__item img {
        display: block;
        width: 465px;
    }
    .listVitas__item__hover {
        height: 610px;
        width: 465px;
    }
    .listVitas__item p {
        font-size: 30px;
    }
    .menu__explore__right {
        margin-right: 300px;
    }
    /* FOOTER */
    .Footer {
        margin-top: 120px;
        height: 730px;
        width: 100%;
    }
    .row__footer {
        width: 100%;
        padding-left: 160px;
        grid-template-columns: 35% 35% 30%;
    }
    .footer__1 h1 {
        margin-bottom: 80px;
    }
    .from__input__footer input {
        width: 300px;
        font-size: 16px;
        font-family: 'Poppins';
    }
    .checkbox__footer {
        display: flex;
        width: 260px;
    }
    .checkbox__footer input {
        width: 30px;
        height: 30px;
    }
    .checkbox__footer label {
        font-size: 13px;
        margin-top: -1px;
    }
    .brand-button,
    .brand-button--large {
        height: 45px;
        width: 160px;
        font-size: 14px;
    }
    .brand-button--large:after,
    .brand-button:after {
        height: 45px;
        width: 160px;
        font-size: 14px;
    }
    .contact__footer__1 {
        width: 600px;
    }
    .item__contact__footer__1 {
        font-size: 16px;
    }
    .row__footer__2 {
        justify-content: space-between;
    }
    .item__footer__2__1 div {
        margin-bottom: 40px;
    }
    .item__footer__2__1 p {
        font-size: 20px;
    }
    .item__footer__2__1 img {
        height: 20px;
    }
    .item__footer__2__2 a {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .item__footer__2__3 a {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .back__to__top {
        margin-left: 60px;
    }
    .back__to__top .outer {
        width: 400px;
    }
    .back__to__top .inner a {
        font-size: 20px;
    }
    .back__to__top img {
        margin-bottom: 50px;
    }
    .back__to__top__logo {
        margin-left: 180px;
        ;
    }
    .back__to__top__logo-ngoai {
        width: 180px;
        height: 180px;
    }
    .back__to__top__logo-trong {
        width: 80px;
        height: 80px;
        margin-top: -130px;
        margin-left: 80px;
    }
}